{% extends "base.html" %}

{% block title %} Vacina Paulistana{% endblock %}

{% block content %}
{% load static %}

<!-- Page Content -->


<h5 onload="getLocation()">Para localizar a UBS mais próxima <button onclick="getLocation()">Clique Aqui</button> (localização aproximada).</h5>
<p id="demo" align="center"></p>
<script>
var x=document.getElementById("demo");
function getLocation()
  {
  if (navigator.geolocation)
    {
    navigator.geolocation.getCurrentPosition(showPosition,showError);
    }
  else{x.innerHTML="Seu browser não suporta Geolocalização.";}
  }
function showPosition(position)
  {
    x.innerHTML="Usuário localizado, por favor aguarde o processamento!"
  window.location.href = "/encontra_ubs/?lat=" +  position.coords.latitude +"&lon=" + position.coords.longitude;
  }
function showError(error)
  {
  switch(error.code)
    {
    case error.PERMISSION_DENIED:
      x.innerHTML="Usuário rejeitou a solicitação de Geolocalização."
      break;
    case error.POSITION_UNAVAILABLE:
      x.innerHTML="Localização indisponível."
      break;
    case error.TIMEOUT:
      x.innerHTML="A requisição expirou."
      break;
    case error.UNKNOWN_ERROR:
      x.innerHTML="Algum erro desconhecido aconteceu."
      break;
    }
  }
</script>
<div align="center" >
    {{ m|safe }}
</div>
</body>
</html>
{% endblock  %}