{% extends "base.html" %}

{% block title %} Vacina Paulistana{% endblock %}

{% block content %}

<html>
<body>

<div class="row">

    <div>      <!-- Page Content -->
        <div align="center">
            <form id = teste action="/vacinas_prazos">
                {% if request.user.is_authenticated %}

                {%else%}
                    <p>Selecione a <strong >Data de Nascimento.</strong>  Para visualizar todos os dados, <a href="{% url "register" %}">registre aqui </a>ou faça o login!</p>
                {% endif %}

                <input align = "center" type="date"  name="data_de_nascimento" min="1923-01-01" max="2023-04-30"placeholder="01/01/1990"" required><br/><br/>
                <input type="submit" value="Calcular">

            </form>
            <div>

            {% csrf_token %}
            {{dados_sql3|safe}}
                </div>
        </div>
    </div>
</div>

</body>
</html>
{% endblock  %}