{% extends "base.html" %}

{% block title %} Vacina Paulistana{% endblock %}

{% block content %}
<body>

<div class="row">
    <div class="card green">
        <h>Casos em {{df_sao_paulo.uf}}</h>
        <p>{{df_sao_paulo.casos|floatformat:0}}</p>
    </div>
    <div class="card red">
        <h>Mortes</h>
        <p>{{df_sao_paulo.mortes|floatformat:0}}</p>
    </div>
    <div class="card blue">
        <h>Enfermaria(ocupação)</h>
        <p>{{leitos_ocupados_sp.enfermaria|floatformat:0}}</p>
    </div>
    <div class="card blue">
        <h>UTI(ocupação)</h>
        <p>{{leitos_ocupados_sp.uti|floatformat:0}}</p>
    </div>
</div>
<p align="center"><u>Vacinação</u></p>
<div class="row">

    <div class="card negativo">
        <h>1º Dose</h>
        <p>{{vacina_covid_sp1.dose1|floatformat:0}}</p>
    </div>
    <div class="card negativo">
        <h>2º Dose</h>
        <p>{{vacina_covid_sp1.dose2|floatformat:0}}</p>
    </div>
    <div class="card negativo">
        <h>Dose Unica</h>
        <p>{{vacina_covid_sp1.UNICA|floatformat:0}}</p>
    </div>
    <div class="card negativo">
        <h>Adicional</h>
        <p>{{vacina_covid_sp1.adicional|floatformat:0}}</p>
    </div>
</div>
<div class="row">
    <div class="card negativo">
        <h>Reforço</h>
        <p>{{vacina_covid_sp2.reforco|floatformat:0}}</p>
    </div>
    <div class="card negativo">
        <h>2º Reforço</h>
        <p>{{vacina_covid_sp2.reforco2|floatformat:0}}</p>
    </div>
    <div class="card negativo">
        <h>3º Reforço</h>
        <p>{{vacina_covid_sp2.reforco3|floatformat:0}}</p>
    </div>
        <div class="card negativo">
        <h>Total de Doses</h>
        <p>{{vacina_covid_sp2.total|floatformat:0}}</p>
    </div>
</div>
<h5 align="right">Atualizado em <strong>{{atualizacao}}.</strong></h5>



</body>
</html>


{% endblock  %}