{% extends "base.html" %}

{% block title %} Vacina Paulistana{% endblock %}

{% block content %}
<body>
<div class="row">
    <div class="card green">
        <h>Casos em {{df_sao_paulo.uf}}</h>
        <p>{{df_sao_paulo.casos|floatformat:0}}</p>
    </div>
    <div class="card red">
        <h>Mortes</h>
        <p>{{df_sao_paulo.mortes|floatformat:0}}</p>
    </div>
    <div class="card blue">
        <h>Suspeitos(24 horas) </h>
        <p>{{df_sao_paulo.suspeitos|floatformat:0}}</p>
    </div>

    <div class="card negativo">
        <h>Negativos(24 horas)</h>
        <p>{{df_sao_paulo.nao_confirmados|floatformat:0}}</p>
    </div>

</div>
<div class="row">
    <div class="card green">
        <h>Casos no Brasil</h>
        <p>{{df_brasil.casos|floatformat:0}}</p>
    </div>
    <div class="card red">
        <h>Mortes</h>
        <p>{{df_brasil.mortes|floatformat:0}}</p>
    </div>
    <div class="card blue">
        <h>Suspeitos(24 horas)</h>
        <p>{{df_brasil.suspeitos|floatformat:0}}</p>
    </div>

    <div class="card negativo">
        <h>Negativos(24 horas)</h>
        <p>{{df_brasil.nao_confirmados|floatformat:0}}</p>
    </div>

</div>
<h5 align = "right">Atualizado em <strong>{{df_data_atualizacao.atualizacao}}.</strong></h5>

</body>
</html>


{% endblock  %}