{% extends "base.html" %}

{% block title %}Vacina Paulistana{% endblock %}

{% block content %}
<html>
<body>
 <div  align = "center">
  <h3><u>Links Importantes</u></h3>
  <p><a href="/apis/docs">Documentação das APIs</a></p>
  <p><a href="https://www.vacinaja.sp.gov.br/">VacinaJá</a></p>
  <p><a href="https://www.gov.br/saude/pt-br">Ministerio da Saúde</a></p>
  <p><a href="https://www.saude.sp.gov.br/">Secretaria da Saúde</a></p>
  <p><a href="https://www.who.int/pt">OMS</a></apis/docs#//p>
  <p><a href="https://butantan.gov.br/">Instituto Butantã</a></p>
  <h3><u>Fontes de Dados</u></h3>
  <p><a href="https://www.saopaulo.sp.gov.br">https://www.saopaulo.sp.gov.br</a></p>
  <p><a href="https://covid19-brazil-api.vercel.app/">https://covid19-brazil-api.vercel.app/</a></p>
    </form>
   </div>

</body>
</html>
{% endblock   %}