{% extends "base.html" %}

{% block title %}Vacina Paulistana{% endblock %}

{% block content %}
<html>
<body>
 <div  align = "center">
  <h1>Paginas importantes</h1>
  <p><a href="https://www.vacinaja.sp.gov.br/">VacinaJá</a></p>
  <p><a href="https://www.gov.br/saude/pt-br">Ministerio da Saúde</a></p>
  <p><a href="https://www.saude.sp.gov.br/">Secretaria da Saúde</a></p>
  <p><a href="https://www.who.int/pt">OMS</a></p>
  <p><a href="https://butantan.gov.br/">Instituto Butantã</a></p>
    </form>
   </div>

</body>
</html>
{% endblock   %}